* {
	margin:0;
	padding:0;
	border:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display:block;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
}

h1, h3, nav li {
	text-align: center;
	font-family: 'Lobster Two', cursive;
}

h1 {
	font-size: 40px;
	padding-top: 20px;
}

h3 {
	font-size: 30px;
}

p {
	padding: 0 20px;
	font-size: 18px;
	text-align: left;
	font-family: 'Fira Sans', sans-serif;
}

.toplink {
	font-family: 'Lobster Two', cursive;
	padding: 0 8px;
	font-size: 22px;
	text-align: right;
}

#main {
	text-align: center;
}

nav {
	width: 400px;
	margin: auto;
}

nav img {
	height: 150px;
	text-align: center;
	padding: 0 10px;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
}

.pets, .chief, .mojo {
	width: 600px;
	height: auto;
	border: 3px solid #355c7d;
	margin: 40px auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.pets img {
	width: 400px;
	margin: auto;
	padding: 0 30px;
}

.chief img, .mojo img {
	width: 200px;
	padding: 0 30px;
}
 .chief img {
	 float: left;
 }

 .mojo img {
	 float: right;
 }
